.the-container2{
    padding: 10px 80px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

@media (max-width: 768px) {
    .the-container2{
        flex-direction: column-reverse; 
        padding: 40px 20px;
        min-height: 90vh;
        gap: 20px;
    }
}