:root {
    --primary: #fff;
}

.btn {
    padding: 8px 16px;
    margin: 16px 0px;
    border-radius: 3px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--secondary {
    background-color: #212529;
    color: #fff;
    padding: 8px 16pxpx;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 10px 5vw;
    font-size: 18px;
    max-width: 100%;
    width: 100%;
}

.btn--medium:hover, 
.btn--large:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}

@media (max-width: 768px) {
.btn--large {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}
}



